/* Written by ChatGPT https://chatgpt.com/share/69ee57d6-c768-83ea-a92e-e2bf54c7a19a */
body {
  font-family: monospace;
  color: #ccc;
  background: #111;
  margin-top: 8%;
  max-width: 95vw;
  text-align: center;
}

#cost {
  font-size: 4em;
  color: #0f0;
  margin: 2rem 0;
}

.label {
  font-size: 1.2em;
  text-align: center;
}

.commentary, #citations {
  max-width: 800px;
  margin-inline: auto;
  text-align: left;
  line-height: 2em;
}

#citations {
  font-size: 0.8em;
  color: #aaa;
  margin-top: 2em;
}

.footer {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#citations a {
  color: #639;
}
